.main{
    margin-top:61px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.hours{
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid rgb(243, 243, 243);
    width: 960px;
}

.hours > span{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80px;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    background-image: linear-gradient(rgb(254, 254, 254), rgb(233, 233, 233));
    color: rgb(120, 120, 120);

}

table{
    border-collapse: collapse;
}

.heatmap{
    display: flex;
    align-items: flex-start;
    width: 1115px;
}

.heatmap > table > tbody > tr > td:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 154px;
    height: 40px;
    background-color: rgb(30, 37, 55);
    font-size: 15px;
    font-weight: 600;
    line-height: 0.73;
    color: white;
}

td {
    box-sizing: border-box;
    width: 40px;
    font-size: 14px;
    font-weight: bold;
    line-height: 0.64;
    color: white;
    text-align: center;
    background-color: rgb(224, 229, 146);
}

/* .tableH td:active{
    border: 1px solid rgb(147, 145, 143);
} */

.tableH td:not(:first-child):hover{
    cursor: pointer;
    border: 1px solid rgb(147, 145, 143);
}

/* .clicked{
    cursor: pointer;
    border: 1px solid rgb(147, 145, 143);
} */

/* .tableH td:focus {
    color: red;
  } */


.locale{
    margin-top: 12px;
    margin-bottom: 28px;
    font-size: 14px;
    text-align: center;
    color: rgb(147, 145, 143);
}

