@import 'typeface-bitter';
@import 'typeface-montserrat';

.title{
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 38px;
    font-family: 'Bitter', serif;
}


.subtitle > div{
    font-size: 16px;
    color: rgb(165, 165, 165);
    letter-spacing: 0.5px;
    line-height: 30px;
    text-decoration: none;
}


.headings{
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 24px;
    font-family: 'Bitter', serif;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
}

.button{
    color: white;
    background-color: rgb(252, 190, 77);
    border-radius: 5px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight:bold;
    letter-spacing: 1px;
}

.button:hover{
    background: rgb(255, 205, 112);
    cursor:pointer;
}

.image{
    max-width: 100%;
}

.section{
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 150px;
    padding-bottom: 150px;
}
