@import '~@csstools/normalize.css'; /* bring in normalize.css styles */

/* rest of app styles */

@import 'typeface-montserrat';


h1 {
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 38px;
    font-family: 'Bitter', serif;
}

a {
    text-decoration:none;
}

a{
    text-decoration:none;
}

body {
    margin: 0;
  }

  
.c1{
    background-color: #aed396;
}
.c2{
    background-color: #a9d194;
}
.c3{
    background-color: #a0ce93;
}
.c4{
    background-color: #99cd94;
}
.c5{
    background-color: #8cc894;
}
.c6{
    background-color: #5eb391;
}
.c7{
    background-color: #5db492;
}
.c8{
    background-color: #5cb391;
}
.c9{
    background-color: #5aad8c;
}
.c10{
    background-color: #3984a3;
}


.clicked{
    cursor: pointer;
    border: 1px solid rgb(147, 145, 143);
}


