@import '~@csstools/normalize.css'; /* bring in normalize.css styles */

/* rest of app styles */

@import 'typeface-montserrat';


h1 {
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 38px;
    font-family: 'Bitter', serif;
}

a {
    text-decoration:none;
}

a{
    text-decoration:none;
}

body {
    margin: 0;
  }



