@import '~@csstools/normalize.css'; /* bring in normalize.css styles */

/* rest of app styles */

@import 'typeface-montserrat';

*{
    font-family: 'Montserrat';

    background-color: #ffffff;
    font-size: 16px;
}

body {
    margin: 0;
  }

    background-color: #f0e7e7;
    font-size: 16px;
}



