@import '~@csstools/normalize.css'; /* bring in normalize.css styles */

/* rest of app styles */

@import 'typeface-montserrat';

*{
    font-family: 'Montserrat';
}

body {
    margin: 0;
  }



